@font-face {
  font-family: "Anton";
  src: url("../Fuentes/Anton/Anton-Regular.ttf") format("truetype");
}

.cuadro-acerca {
  background-color: #8D9983;
  width: 800px;
  padding: 25px;
  margin: 40px auto;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.btn-acerca {
  width: 200px;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 26px;
  font-family: "Anton", sans-serif;
  border: none;
  border-radius: 20px;
  background-color: #465127;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-acerca.activo {
  background-color: white;
  color: #465127;
  border: 2px solid #465127;
}

.buttons-col {
  display: flex;
  flex-direction: column;
  width: 200px;   /* Columna fija */
}

#info-area {
    flex: 1;
    width: 90%;
    max-width: 600px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
  }

  #info-area img {
    width: 180px;
    border-radius: 12px;
    margin-bottom: 12px;
  }

 .cuadro-acerca #info-area h2 {
  font-family: "Anton", sans-serif;
  color: white !important;
  font-size: 40px;
}

  #info-area p {
    font-size: 20px;
    color: #FFFFFF;
    font-family: "Century Gothic", sans-serif;
    line-height: 1.4;
  }

 #info-area {
    opacity: 0;
    transition: opacity 0.4s ease;
}

#info-area.visible {
    opacity: 1;
}