@font-face {
    font-family: "Anton";
    src: url("../Fuentes/Anton/Anton-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.cuadro-acerca {
  background-color: #8D9983;
  width: 800px;
  height: 400px;    
  padding: 20px;
  margin: 40px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;    
    justify-content: center;  
    align-items: flex-start;   
}

.btn-acerca {
    width: 25%;
    padding: 12px 24px;
    margin-bottom: 12px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    background-color: #465127; 
    color: white;
    display: block;
    font-family: "Anton", sans-serif;  
    border-radius: 20px;
    font-size: 28px;
    transition: background-color 0.3s, color 0.3s;
    outline: none; 
}

.btn-acerca.activo {
    background-color: white;
    color: #465127;
    border: 2px solid #465127;
}