 @font-face {
  font-family: "Century Gothic";
  src: url("../Fuentes/century-gothic-similar-fonts/dominik/Dominik.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
 
 body {
    margin: 0;
    font-family: "Dominik", sans-serif;
  }

  nav {
    background: white;
    padding: 15px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end; 
    gap: 25px;                
  }

 nav ul li a {
  color: #465127;             
  text-decoration: none;
  font-weight: bold;
  padding: 8px 14px;         
  border-radius: 8px;         
  transition: 0.25s ease;     
}

nav ul li a:hover {
  color: white;             
  background-color: #8D9983;   
}