 @font-face {
  font-family: "Century Gothic";
  src: url("../Fuentes/century-gothic-similar-fonts/dominik/Dominik.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
 
 body {
    margin: 0;
    font-family: "Dominik", sans-serif;
  }

  nav {
    background: white;
    padding: 15px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Alinea elementos a la derecha */
    gap: 25px;                 /* Separación entre elementos */
  }

 nav ul li a {
  color: #465127;              /* color por defecto */
  text-decoration: none;
  font-weight: bold;
  padding: 8px 14px;         
  border-radius: 8px;          /* borde redondeado */
  transition: 0.25s ease;      /* animación suave */
}

nav ul li a:hover {
  color: white;             
  background-color: #8D9983;   
}