/* SECCIÓN 2 */
#seccion2 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
}

.seccion2-contenedor {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
}

.seccion2-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Columna izquierda: imágenes */
.seccion2-imagenes {
  background-color: #8D9983;
  padding: 1rem;
  border-radius: 10px;
  flex: 2 1 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.seccion2-imagenes img {
  width: 100%;        
  height: 270px;     
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  object-fit: cover; 
}

/* Columna derecha: texto */
.seccion2-texto {
  flex: 2 1 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.seccion2-texto h2 {
  font-family: 'Anton', sans-serif;
  font-size: 3.5rem;
  line-height: 1.3;
  margin: 0;
  color: #8D9983;
}

.seccion2-texto h2 span {
  color: #465127;
}

.seccion2-texto p {
  margin-top: 1rem;
  font-family: 'Century Gothic', sans-serif;
  font-size: 2rem;
  color: #465127;
  line-height: 1.7;
}

.flecha {
  display: inline-block;
  width: 20px; 
  height: 20px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid white; 
  transform: rotate(180deg); 
  cursor: pointer;
  animation: bounce 1.6s infinite;
}

/* Contenedor para el video */
.seccion2-video {
  background-color: #8D9983;   
  padding: 1rem;
  border-radius: 10px;
  flex: 2 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ajuste del video */
.seccion2-video video {
  width: 100%;
  height: 100%;
  max-height: 850px;
  border-radius: 10px;
  object-fit: cover; /* el video se comporta como imagen */
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Desktop / normal */
.seccion2-row {
  display: flex;
  flex-direction: row;
}

/* Celular */
@media (max-width: 768px) {
  .seccion2-row {
    flex-direction: column;
  }

  .seccion2-video,
  .seccion2-texto {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .seccion2-texto h2 {
    font-size: 2rem;        
    line-height: 1.2;
  }

  .seccion2-texto p {
    font-size: 1rem;        
    line-height: 1.5;
  }
}


@media (max-width: 480px) {

  .seccion2-texto h2 {
    font-size: 1.7rem;
  }

  .seccion2-texto p {
    font-size: 0.95rem;
  }
}