 @font-face {
  font-family: "Anton";
  src: url("../Fuentes/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

 @font-face {
  font-family: "Century Gothic";
  src: url("../Fuentes/century-gothic-similar-fonts/dominik/Dominik.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}




.sticky-section {
  position: relative;
  height: 200vh; 
}

.sticky-content {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  background-image: url('/img/Bosque.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-dark {
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
}


.view {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.25s ease-out; 
}
.view-1 {
  opacity: 1;
}

.view-2 {
  opacity: 0;
}



.titulo {
  font-family: 'Anton', sans-serif;
  font-size: 6rem;
  font-weight: 800;
}

.linea {
  width: 80px;
  height: 4px;
  background: white;
  margin: 15px 0;
}

.sub {
  font-size: 1.2rem;
  opacity: 0.8;
}

.tarjetas {
  display: flex;
  gap: 4rem;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card h3 {
  font-family: 'Anton', sans-serif;
  color: white;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.card p {
  font-family: 'Century Gothic', sans-serif;
  font-size: 1rem;
  color: white;
  max-width: 200px;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


