 @font-face {
  font-family: "Anton";
  src: url("../Fuentes/Anton/Anton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.titulo-principal {
  text-align: center;
  margin-top: 40px;
  font-size: 48px;
  font-weight: bold;
  color: #465127;
  font-family: "Anton", sans-serif;
}